/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img {
    max-width: 100%;
    height: auto;
}
*, *::before, *::after {
    box-sizing: border-box;
}
/* =============== CSS Reset End ================= */


/* ================= layout ======================= */
body {
    font-family: 'Microsoft JhengHei Regular';
    color: #fff;
}

a {
    display: block;
    text-decoration: none;
    color: #fff;
}

.wrap {
    overflow: hidden;
    position: relative;
}

.header {
    background: rgba(0,0,0,0.75);
    transition: all .7s;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.header-top {
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
}

.header-top h1 a {
    width: 120px;
    height: 24px;
    background: url('../img/logo_w\(null\).svg');
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
}

.nav-btn {
    display: none;
}

.login-btn {
    display: none;
}

.sign li a {
    padding: 10px;
    background: #fff;
    color: #000;
    border-radius: 10px;
}

.sign li a:hover {
    opacity: .9;
}

.sign li:first-child a {
    margin-right: 10px;
}

.nav li a {
    padding: 10px 15px;
    border-bottom: 2px solid transparent;
}

.nav li a:hover{
    border-bottom: 2px solid #fff;
}

.nav i {
    margin-right: 5px;
}

.nav li:nth-child(1) i , .nav li:nth-child(2) i {
    padding-left: 1px;
    padding-right: 1px;
}

.nav li:nth-child(3) i {
    padding-left: 3px;
    padding-right: 3px;
}


.aside {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;  
    width: 250px;
    background: rgba(0,0,0,0.75);
    transform: translateX(-250px);
    transition: all .7s;
}

.aside .nav-btn {
    display: inline-block;
    font-size: 30px;
    float: right;
    padding: 10px 20px;
}

.aside .nav li a {
    padding: 15px 20px;
    border-bottom: 1px dashed #fff;
}

.aside .nav li a:active {
    background: #fff;
    color: rgba(0,0,0,0.75);
}

.aside .nav i {
    margin-right: 20px;
    margin-left: 10px;
}

.main {
    transition: all .7s;
}

.clearfix {
    clear: both;
}

@media (max-width:768px) {
    .header-top {
        padding: 0;
    }
    .header .nav-btn {
        display: block;
        font-size: 30px;
        padding: 10px 20px;
    }
    .sign {
        display: none;
    }
    .login-btn {
        display: block;
        font-size: 30px;
        padding: 10px 20px;
    }
    .header .nav {
        display: none;
    }
    .active .header {
        transform: translateX(250px);
    }
    .active .header .nav-btn {
        visibility: hidden;
    }
    .active .aside {
        transform: translateX(0px);
    }
    .active .main {
        transform: translateX(250px);
    }
}