/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img {
    max-width: 100%;
    height: auto;
}
*, *::before, *::after {
    box-sizing: border-box;
}
/* =============== CSS Reset End ================= */
/*csslint box-model:false*/
/*
Box-model set to false because we're setting a height on select elements, which
also have border and padding. This is done because some browsers don't render
the padding. We explicitly set the box-model for select elements to border-box,
so we can ignore the csslint warning.
*/

.pure-form input[type="text"],
.pure-form input[type="password"],
.pure-form input[type="email"],
.pure-form input[type="url"],
.pure-form input[type="date"],
.pure-form input[type="month"],
.pure-form input[type="time"],
.pure-form input[type="datetime"],
.pure-form input[type="datetime-local"],
.pure-form input[type="week"],
.pure-form input[type="number"],
.pure-form input[type="search"],
.pure-form input[type="tel"],
.pure-form input[type="color"],
.pure-form select,
.pure-form textarea {
    padding: 0.5em 0.6em;
    display: inline-block;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 4px;
    vertical-align: middle;
    box-sizing: border-box;
    /* 改 */
    padding: 0.5em 0.75em;
}

/*
Need to separate out the :not() selector from the rest of the CSS 2.1 selectors
since IE8 won't execute CSS that contains a CSS3 selector.
*/
.pure-form input:not([type]) {
    padding: 0.5em 0.6em;
    display: inline-block;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}


/* Chrome (as of v.32/34 on OS X) needs additional room for color to display. */
/* May be able to remove this tweak as color inputs become more standardized across browsers. */
.pure-form input[type="color"] {
    padding: 0.2em 0.5em;
}


.pure-form input[type="text"]:focus,
.pure-form input[type="password"]:focus,
.pure-form input[type="email"]:focus,
.pure-form input[type="url"]:focus,
.pure-form input[type="date"]:focus,
.pure-form input[type="month"]:focus,
.pure-form input[type="time"]:focus,
.pure-form input[type="datetime"]:focus,
.pure-form input[type="datetime-local"]:focus,
.pure-form input[type="week"]:focus,
.pure-form input[type="number"]:focus,
.pure-form input[type="search"]:focus,
.pure-form input[type="tel"]:focus,
.pure-form input[type="color"]:focus,
.pure-form select:focus,
.pure-form textarea:focus {
    outline: 0;
    border-color: #129FEA;
}

/*
Need to separate out the :not() selector from the rest of the CSS 2.1 selectors
since IE8 won't execute CSS that contains a CSS3 selector.
*/
.pure-form input:not([type]):focus {
    outline: 0;
    border-color: #129FEA;
}

.pure-form input[type="file"]:focus,
.pure-form input[type="radio"]:focus,
.pure-form input[type="checkbox"]:focus {
    outline: thin solid #129FEA;
    outline: 1px auto #129FEA;
}

.pure-form .pure-checkbox,
.pure-form .pure-radio {
    margin: 0.5em 0;
    display: block;
}

.pure-form input[type="text"][disabled],
.pure-form input[type="password"][disabled],
.pure-form input[type="email"][disabled],
.pure-form input[type="url"][disabled],
.pure-form input[type="date"][disabled],
.pure-form input[type="month"][disabled],
.pure-form input[type="time"][disabled],
.pure-form input[type="datetime"][disabled],
.pure-form input[type="datetime-local"][disabled],
.pure-form input[type="week"][disabled],
.pure-form input[type="number"][disabled],
.pure-form input[type="search"][disabled],
.pure-form input[type="tel"][disabled],
.pure-form input[type="color"][disabled],
.pure-form select[disabled],
.pure-form textarea[disabled] {
    cursor: not-allowed;
    background-color: #eaeded;
    color: #cad2d3;
}

/*
Need to separate out the :not() selector from the rest of the CSS 2.1 selectors
since IE8 won't execute CSS that contains a CSS3 selector.
*/
.pure-form input:not([type])[disabled] {
    cursor: not-allowed;
    background-color: #eaeded;
    color: #cad2d3;
}
.pure-form input[readonly],
.pure-form select[readonly],
.pure-form textarea[readonly] {
    background-color: #eee; /* menu hover bg color */
    color: #777; /* menu text color */
    border-color: #ccc;
}

/* 以下不要 */
/* .pure-form input:focus:invalid,
.pure-form textarea:focus:invalid,
.pure-form select:focus:invalid {
    color: #b94a48;
    border-color: #e9322d; */
/* 以上不要 */

.pure-form input[type="file"]:focus:invalid:focus,
.pure-form input[type="radio"]:focus:invalid:focus,
.pure-form input[type="checkbox"]:focus:invalid:focus {
    outline-color: #e9322d;
}
.pure-form select {
    /* Normalizes the height; padding is not sufficient. */
    height: 2.25em;
    border: 1px solid #ccc;
    background-color: white;
}
.pure-form select[multiple] {
    height: auto;
}
.pure-form label {
    margin: 0.5em 0 0.2em;
}
.pure-form fieldset {
    margin: 0;
    padding: 0.35em 0 0.75em;
    border: 0;
}
.pure-form legend {
    display: block;
    width: 100%;
    padding: 0.3em 0;
    margin-bottom: 0.3em;
    color: #333;
    border-bottom: 1px solid #e5e5e5;
}

.pure-form-stacked input[type="text"],
.pure-form-stacked input[type="password"],
.pure-form-stacked input[type="email"],
.pure-form-stacked input[type="url"],
.pure-form-stacked input[type="date"],
.pure-form-stacked input[type="month"],
.pure-form-stacked input[type="time"],
.pure-form-stacked input[type="datetime"],
.pure-form-stacked input[type="datetime-local"],
.pure-form-stacked input[type="week"],
.pure-form-stacked input[type="number"],
.pure-form-stacked input[type="search"],
.pure-form-stacked input[type="tel"],
.pure-form-stacked input[type="color"],
.pure-form-stacked input[type="file"],
.pure-form-stacked select,
.pure-form-stacked label,
.pure-form-stacked textarea {
    display: block;
    margin: 0.25em 0;
    /* 改 */
    margin: 0.375em 0;
}

/*
Need to separate out the :not() selector from the rest of the CSS 2.1 selectors
since IE8 won't execute CSS that contains a CSS3 selector.
*/
.pure-form-stacked input:not([type]) {
    display: block;
    margin: 0.25em 0;
}
.pure-form-aligned input,
.pure-form-aligned textarea,
.pure-form-aligned select,
.pure-form-message-inline {
    display: inline-block;
    vertical-align: middle;
}
.pure-form-aligned textarea {
    vertical-align: top;
}

/* Aligned Forms */
.pure-form-aligned .pure-control-group {
    margin-bottom: 0.5em;
}
.pure-form-aligned .pure-control-group label {
    text-align: right;
    display: inline-block;
    vertical-align: middle;
    width: 10em;
    margin: 0 1em 0 0;
}
.pure-form-aligned .pure-controls {
    margin: 1.5em 0 0 11em;
}

/* Rounded Inputs */
.pure-form input.pure-input-rounded,
.pure-form .pure-input-rounded {
    border-radius: 2em;
    padding: 0.5em 1em;
}

/* Grouped Inputs */
.pure-form .pure-group fieldset {
    margin-bottom: 10px;
}
.pure-form .pure-group input,
.pure-form .pure-group textarea {
    display: block;
    padding: 10px;
    margin: 0 0 -1px;
    border-radius: 0;
    position: relative;
    top: -1px;
}
.pure-form .pure-group input:focus,
.pure-form .pure-group textarea:focus {
    z-index: 3;
}
.pure-form .pure-group input:first-child,
.pure-form .pure-group textarea:first-child {
    top: 1px;
    border-radius: 4px 4px 0 0;
    margin: 0;
}
.pure-form .pure-group input:first-child:last-child,
.pure-form .pure-group textarea:first-child:last-child {
    top: 1px;
    border-radius: 4px;
    margin: 0;
}
.pure-form .pure-group input:last-child,
.pure-form .pure-group textarea:last-child {
    top: -2px;
    border-radius: 0 0 4px 4px;
    margin: 0;
}
.pure-form .pure-group button {
    margin: 0.35em 0;
}

.pure-form .pure-input-1 {
    width: 100%;
}
.pure-form .pure-input-3-4 {
    width: 75%;
}
.pure-form .pure-input-2-3 {
    width: 66%;
}
.pure-form .pure-input-1-2 {
    width: 50%;
}
.pure-form .pure-input-1-3 {
    width: 33%;
}
.pure-form .pure-input-1-4 {
    width: 25%;
}

/* Inline help for forms */
.pure-form-message-inline {
    display: inline-block;
    padding-left: 0.3em;
    color: #666;
    vertical-align: middle;
    font-size: 0.875em;
}

/* Block help for forms */
.pure-form-message {
    display: block;
    color: #666;
    font-size: 0.875em;
}
/* ================= pure forms end =============== */

/* =============== layout start ================== */
body {
    font-family: 'Microsoft JhengHei Regular';
}

a {
    display: block;
    text-decoration: none;
}

.wrap {
    overflow: hidden;
    position: relative;
}

.header {
    background: rgba(0,0,0,0.75);
    transition: all .7s;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 10;
}

.header, .header a, .banner, .aside, .aside a {
    color: #fff;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.header .container, .chef .container, .thought-content {
    padding: 0 13px;
}

.header .container {
    justify-content: space-between;
    align-items: center;
}

.header h1 a {
    width: 120px;
    height: 24px;
    background: url('../img/logo_w\(null\).svg');
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
}

.nav-btn {
    display: none;
}

.login-btn {
    display: none;
}

.header .nav {
    align-items: center;
}

.nav li a {
    padding: 18px 15px 17px;
    border-bottom: 1px solid transparent;
}

.nav li a:hover{
    border-bottom: 1px solid #fff;
}

.header .nav li:nth-child(5) a, .header .nav li:nth-child(6) a {
    padding: 5px 10px;
    background: #fff;
    color: #000;
    border-radius: 10px;
    border: none;
}

.header .nav li:nth-child(5) a:hover,.header .nav li:nth-child(6) a:hover {
    opacity: .9;
}

.header .nav li:nth-child(5) a {
    margin: 0 10px;
}

.nav i {
    margin-right: 5px;
}

.nav li:nth-child(1) i , .nav li:nth-child(2) i {
    padding-left: 1px;
    padding-right: 1px;
}

.nav li:nth-child(3) i {
    padding-left: 3px;
    padding-right: 3px;
}

.aside {
    display: none;
}

.main {
    transition: all .7s;
}

.footer {
    transition: all .7s;
}

.footer .container, .feature .container, .thought .container, .booking .container {
    padding: 50px 13px;
}

.clearfix {
    clear: both;
}

@media (max-width:768px) {
    .header .container{
        padding: 0;
    }
    .header .nav-btn {
        display: block;
        font-size: 32px;
        padding: 10px;
    }
    .login-btn {
        display: block;
        font-size: 32px;
        padding: 10px;
    }
    .header .nav {
        display: none;
    }
    .aside {
        display: block;
        position: fixed;
        top: 0;
        bottom: 0;  
        width: 240px;
        background: rgba(0,0,0);
        transform: translateX(-240px);
        transition: all .7s;
    }
    .aside .nav-btn {
        display: inline-block;
        font-size: 32px;
        float: right;
        padding: 10px;
    }
    .aside .nav li a {
        border-bottom: 1px dashed #fff;
    }
    .aside .nav li a:active {
        background: #fff;
        color: rgba(0,0,0,0.75);
    }
    .aside .nav i {
        margin-right: 20px;
        margin-left: 10px;
    }
    .active .header {
        transform: translateX(240px);
    }
    .active .header .nav-btn {
        visibility: hidden;
    }
    .active .aside {
        transform: translateX(0px);
    }
    .active .main {
        transform: translateX(240px);
    }
    .active .footer {
        transform: translateX(240px);
    }
}
/* ===============  header end ================== */

.banner {
    justify-content: center;
    align-items: center;
    height: 420px;
    background: url(../img/header_desktop.png) no-repeat #000 center;
}

.banner-content {
    background: rgba(0,0,0,0.35);
    padding: 20px 42px 26px 22px;
}

.banner-content h3, .banner-content p, .footer-item h4, .feature-content h4, .thought h3, .thought-content h5, .booking h3 {
    line-height: 1.33334;
}

.banner-content h3 {
    font-size: 36px;
    text-align: center;
}

.banner-content p {
    margin-top: 1em;
    text-align: center;
}

.banner-content p span {
    margin: 0 10px;
}

@media (max-width:767px) {
    .banner {
        background-image: url(../img/header_mobile.png);
    }
    .banner-content span:first-child {
        display: block;
    }
}
/* ================ banner end =================== */
.footer, .feature, .thought {
    background: #efe9e7;
    color: #3D1101;;
}

.footer .container {
    justify-content: space-between;
}

.footer-item {
    width: 31.33333%;
}

.footer-item h4, .thought h3, .booking h3 {
    font-size: 24px;
}

.footer-item p {
    margin-top: 1em;
}

.footer-item p, .footer-info li, .feature-item p, .chef-content span, .chef-content p {
    font-size: 16px;
    line-height: 1.3125;
}

.footer-info {
    margin-top: 1em;
    list-style: disc;
    list-style-position: inside;
}

.footer-info li a {
    color: #3D1101;
    display: inline;
}

.footer-item:last-child {
    flex-direction: column;
    align-items: flex-end;
}

.footer-item h2 a {
    width: 245px;
    height: 49px;
    background: url(../img/logo_l\(null\).svg);
    background-size: contain;
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
}

.footer-social {
    margin-top: 22px;
}

.footer-social li:nth-child(1) a {
    color: #DB4437;
}

.footer-social li:nth-child(2) a {
    color: #41ABE1;
    margin: 0 12px;
}

.footer-social li:nth-child(3) a {
    color: #3A5795;
}

.footer-social i {
    font-size: 36px;
}

.footer li a:hover {
    opacity: 0.7;
}

@media (max-width:768px) {
    .footer-item:first-child {
        display: none;
    }
    .footer .container {
        justify-content: center;
    }
    .footer-item {
        width: 45%;
    }
}

@media (max-width:414px) {
    .footer .container {
        display: block;
    }
    .footer-item {
        width: 245px;
        margin: 0 auto;
    }
    .footer-item:last-child {
        margin-top: 1em;
        align-items: flex-start;
    }
}
/* ============== footer end ================== */
/* ============== layouy end ================== */

/* ============= index-feature start ========= */
.feature .container{
    flex-direction: column;
    align-items: center;
}

.feature h3 {
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    position: relative;
    margin-bottom: 30px;
}

.feature h3::before {
    content: "";
    display: block;
    width: 120px;
    height: 1px;
    background: #979797;
    position: absolute;
    top: calc(50% - 0.5px);
    left: -140px;
}

.feature h3::after {
    content: "";
    display: block;
    width: 120px;
    height: 1px;
    background: #979797;;
    position: absolute;
    top: calc(50% - 0.5px);
    right: -140px;
}

.feature-content {
    justify-content: space-between;
}

.feature-item {
    width: 31.33333%;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}

.feature-item img {
    border-radius: 50%;
}

.feature-content h4 {
    font-size: 18px;
    margin: 20px 0 11px;
}

@media (max-width:768px) {
    .feature-item {
        width: 45%;
    }
    .feature-item:nth-child(2) {
        display: none;
    }
}

@media (max-width:414px) {
    .feature h3::before, .feature h3:after {
        display: none;
    }
    .feature-content {
        flex-direction: column;
        align-items: center;
    }
    .feature-item {
        width: 95%;
    }
    .feature-item:nth-child(2) {
        display: flex;
    }
}


/* ============= index-chef start ========= */
.chef {
    background: #3D1101;
    color:#EFE9E7;
    position: relative;
}

.chef .container {
    align-items: center;
}

.chef-img, .chef-content {
    width: 50%;
}

.chef-img img {
    height: 460px;
}

.chef-content {
    padding: 80px 25px;
}

.chef-content h3 {
    font-size: 20px;
    line-height: 32px;
}

@media (max-width:414px) {
    .chef .container {
        flex-direction: column;
    }
    .chef-img, .chef-content {
        width: 100%;
    }
}


/* ============= index-thought start ========= */
.thought h3 {
    text-align: center;
    margin-bottom: 32px;
}

.thought ul {
    justify-content: space-between;
}

.thought-item {
    align-items: flex-start;
    width: 31.33333%;
}

.thought-item img {
    border-radius: 50%;
}

.thought-content h5 {
    font-size: 18px;
    margin: 19px 0 22px;
}

.thought-content p {
    line-height: 24px;
    margin-bottom: 1em;
}

.thought-content p:last-child {
    text-align: right;
    margin-bottom: 0;
    color: rgba(61,17,0,0.75);
}

@media (max-width:768px) {
    .thought-item:nth-child(2) {
        display: none;
    }
    .thought-item {
        width: 45%;
    }
}

@media (max-width:414px) {
    .thought ul {
        flex-direction: column;
        align-items: center;
    }
    .thought-item:nth-child(2) {
        display: flex;
        margin: 30px 0;
    }
    .thought-item {
        width: 95%;
    }
}


/* ============= index-booking start ========= */
.booking {
    background: #f6f4f3;
}
.booking h3 {
    text-align: center;
    margin-bottom: 38px;
    color: #3D1101;
}

.booking-content {
    justify-content: space-between;
    align-items: center;
}

.booking-map, .booking form {
    width: 48%;
}

.booking-map {
    position: relative;
    padding-bottom: 40%;
    height: 0;
    overflow: hidden;
}

.booking-map iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.booking input {
    width: 100%;
    font-size: 16px;
}

.booking label, .booking p {
    font-family: PingFangTC-Light;
    font-size: 14px;
    color: #3D1101;
    margin: 0.375em 0;
}

.booking input[type="radio"] {
    width: 16px;
    margin: 0 36px 0 6px;
}

.booking-veg {
    align-items: center;
}

.booking-btn {
    justify-content: flex-end;
}

.booking input[type="button"], .booking input[type="submit"] {
    width: 70px;
    font-family: PingFangTC-Regular;
    font-size: 14px;
    color: #FFFFFF;
    border: 0;
    padding: 7.5px 0;
    cursor: pointer;
}

.booking input[type="button"]:hover, .booking input[type="submit"]:hover {
    background-image: linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1));
} 

.booking input[type="button"] {
    background-color: rgba(0,0,0,0.35);
    border-radius: 3px;
    margin-right: 11px;
}

.booking input[type="submit"] {
    background-color: #F56C23;
    border-radius: 3px;
}

@media (max-width:767px) {
    .booking-content {
        flex-direction: column;
    }
    .booking-map, .booking form {
        width: 95%;
    }
    .booking-map {
        padding-bottom: 100%;
        margin-bottom: 30px;
    }
}
