/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img {
    max-width: 100%;
    height: auto;
}
*, *::before, *::after {
    box-sizing: border-box;
}
/* =============== CSS Reset End ================= */


/* ================= layout ======================= */
body {
    font-family: 'Microsoft JhengHei Regular';
    color: #fff;
}

a {
    display: block;
    text-decoration: none;
    color: #fff;
}

.wrap {
    overflow: hidden;
    position: relative;
}

.header {
    background: rgba(0,0,0,0.75);
    transition: all .7s;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 10;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.header .container {
    justify-content: space-between;
    align-items: center;
    padding: 0 13px;
}

.header h1 a {
    width: 120px;
    height: 24px;
    background: url('../img/logo_w\(null\).svg');
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
}

.nav-btn {
    display: none;
}

.login-btn {
    display: none;
}

.header .nav {
    align-items: center;
}

.nav li a {
    padding: 18px 15px 17px;
    border-bottom: 1px solid transparent;
}

.nav li a:hover{
    border-bottom: 1px solid #fff;
}

.header .nav li:nth-child(5) a, .header .nav li:nth-child(6) a {
    padding: 5px 10px;
    background: #fff;
    color: #000;
    border-radius: 10px;
    border: none;
}

.header .nav li:nth-child(5) a:hover,.header .nav li:nth-child(6) a:hover {
    opacity: .9;
}

.header .nav li:nth-child(5) a {
    margin: 0 10px;
}

.nav i {
    margin-right: 5px;
}

.nav li:nth-child(1) i , .nav li:nth-child(2) i {
    padding-left: 1px;
    padding-right: 1px;
}

.nav li:nth-child(3) i {
    padding-left: 3px;
    padding-right: 3px;
}

.aside {
    display: none;
}

.main {
    transition: all .7s;
}

.footer {
    transition: all .7s;
}

.clearfix {
    clear: both;
}

@media (max-width:768px) {
    .header .container{
        padding: 0;
    }
    .header .nav-btn {
        display: block;
        font-size: 25px;
        padding: 10px;
    }
    .login-btn {
        display: block;
        font-size: 25px;
        padding: 10px;
    }
    .header .nav {
        display: none;
    }
    .aside {
        display: block;
        position: fixed;
        top: 0;
        bottom: 0;  
        width: 240px;
        background: rgba(0,0,0);
        transform: translateX(-240px);
        transition: all .7s;
    }
    .aside .nav-btn {
        display: inline-block;
        font-size: 25px;
        float: right;
        padding: 10px;
    }
    .aside .nav li a {
        border-bottom: 1px dashed #fff;
    }
    .aside .nav li a:active {
        background: #fff;
        color: rgba(0,0,0,0.75);
    }
    .aside .nav i {
        margin-right: 20px;
        margin-left: 10px;
    }
    .active .header {
        transform: translateX(240px);
    }
    .active .header .nav-btn {
        visibility: hidden;
    }
    .active .aside {
        transform: translateX(0px);
    }
    .active .main {
        transform: translateX(240px);
    }
    .active .footer {
        transform: translateX(240px);
    }
}
/* ===============  header end ================== */


.banner {
    justify-content: center;
    align-items: center;
    height: 420px;
    background: url(../img/header_desktop.png) no-repeat #000 center;
}

.banner-content {
    background: rgba(0,0,0,0.35);
    padding: 20px 42px 26px 22px;
}

.banner-content h3 {
    font-size: 36px;
    line-height: 1.33334;
    text-align: center;
}

.banner-content p {
    line-height: 1.33334;
    margin-top: 1em;
    text-align: center;
}

.banner-content p span {
    margin: 0 10px;
}

@media (max-width:767px) {
    .banner {
        background-image: url(../img/header_mobile.png);
    }
    .banner-content span:first-child {
        display: block;
    }
}
/* ================ banner end =================== */

.footer {
    padding: 50px 13px;
    background: #efe9e7;
    color: #3D1101;;
}

.footer .container {
    justify-content: space-between;
}

.footer-item {
    width: 31.33333%;
}

.footer-item h4 {
    font-size: 24px;
    line-height: 1.33334;
}

.footer-item p {
    margin-top: 1em;
    line-height: 1.3125;
}

.footer-info {
    margin-top: 1em;
    list-style: disc;
    list-style-position: inside;
}

.footer-info li {
    line-height: 1.3125;
}

.footer-info li a {
    color: #3D1101;
    display: inline;
}

.footer-item:last-child {
    flex-direction: column;
    align-items: flex-end;
}

.footer-item h2 a {
    width: 245px;
    height: 49px;
    background: url(../img/logo_l\(null\).svg);
    background-size: contain;
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
}

.footer-social {
    margin-top: 22px;
}

.footer-social li:nth-child(1) a {
    color: #DB4437;
}

.footer-social li:nth-child(2) a {
    color: #41ABE1;
    margin: 0 12px;
}

.footer-social li:nth-child(3) a {
    color: #3A5795;
}

.footer-social i {
    font-size: 36px;
}

.footer li a:hover {
    opacity: 0.7;
}

@media (max-width:767px) {
    .footer-item:first-child {
        display: none;
    }
    .footer .container {
        justify-content: center;
    }
    .footer-item {
        width: 45%;
    }
}

@media (max-width:414px) {
    .footer .container {
        display: block;
    }
    .footer-item {
        width: 245px;
        margin: 0 auto;
    }
    .footer-item:last-child {
        margin-top: 1em;
        align-items: flex-start;
    }
}
